In [12]:
import pandas as pd
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

ModuleNotFoundError: No module named 'pandas_datareader'

In [13]:
start = datetime.datetime(2017,1,1)
end = datetime.datetime(2017,11,1)

NameError: name 'datetime' is not defined

In [2]:
df = web.DataReader('AMZN', 'yahoo',start,end)

NameError: name 'web' is not defined

In [3]:
df.tail()

NameError: name 'df' is not defined

In [4]:
df.to_csv('amzn.csv')

NameError: name 'df' is not defined

In [5]:
df1 = pd.read_csv('amzn.csv',parse_dates=True,index_col=0)

In [6]:
df1['20 ma'] = df1['Adj Close'].rolling(20).mean()
df1['20 sd'] = df1['Adj Close'].rolling(20).std()
df1['upper'] = df1['20 ma'] + (df1['20 sd'] * 2)
df1['lower'] = df1['20 ma'] - (df1['20 sd'] * 2)

In [7]:
df1.head()

,Open,High,Low,Close,Adj Close,Volume,20 ma,20 sd,upper,lower
Date,,,,,,,,,,
2017-01-03,757.919983,758.760010,747.700012,753.669983,753.669983,3521100,NaN,NaN,NaN,NaN
2017-01-04,758.390015,759.679993,754.200012,757.179993,757.179993,2510500,NaN,NaN,NaN,NaN
2017-01-05,761.549988,782.400024,760.260010,780.450012,780.450012,5830100,NaN,NaN,NaN,NaN
2017-01-06,782.359985,799.440002,778.479980,795.989990,795.989990,5986200,NaN,NaN,NaN,NaN
2017-01-09,798.000000,801.770020,791.770020,796.919983,796.919983,3440100,NaN,NaN,NaN,NaN

In [8]:
fig = plt.figure(figsize=(16,6))
axis = fig.add_axes([0.1,0.1,0.8,0.8])
axis.plot(df1['Adj Close'],c='b',lw=3)
axis.plot(df1['20 ma'],c='gray')
axis.plot(df1['upper'],c='g',ls='--')
axis.plot(df1['lower'],c='g',ls='--')
plt.title('Amazon Bollinger Band. Jan 17 - Nov 17')
plt.legend();

NameError: name 'plt' is not defined